@import 'bootstrap';

body {
    background: linear-gradient(to right, #141e30, #243b55);
    margin: 0;
    padding: 0;

    #ascensor {
        height: 100px;
        width: 60px;
        position: relative;
        transition: top 2s ease-in-out;

        img {
            width: 100%;
        } 
    }

    input {
        border: 2px solid #4e4848;
        outline: none;
    }

    .color {
        color: whitesmoke;
    }

    .edificio {
        width: 90%;
        background: #333436;

        img {
            height: 100px;
            width: 100%;
        }
    }


    .pisos {
        height: 100px;
    }
}
