@import "bootstrap";

body {
    margin: 0;
    padding: 0;

    .building {
        width: 90%;
        background-color: grey;
    }

    img {
        height: 106px;
        width: 100%;
    }

    .floors {
        width: 80%;
    }
}
