@import 'bootstrap';

body {
    margin: 0;
    padding: 0;

    .building {
        width: 691px;
        height: 600px;
        background-color: grey;
    }

    #elevator {
        height: 100px;
        width: 60px;
        position: relative;
        transition: top 2s ease-in-out;

        img {
            width: 100%;
        } 
    }

    img {
        height: 100px;
        width: 80%;
    }
}
